<body class="restaurant">

<!-- <h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p> -->


<h2>Restaurants</h2>


  <% @restaurants.each do |r| %>

    <div class="eachRest">
      <p><%= r.name %></p>
      <p><%= r.description %></p>
      <p><%= r.location %></p>
      <p><%= r.image %></p>

      <%= link_to 'Add restaurants', new_restaurant_path %>
      <%= render @restaurants %>
    </div>

  <% end %>

</body>
