<body class="restaurant">

<!-- <h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p> -->


<h1>Restaurants</h1>


  <% @restaurants.each do |r| %>

    <div class="eachRest">
      <h2><strong><%= r.name %></strong></h2>
      <p><%= r.description %></p>
      <p><%= r.location %></p>
      <p><%= image_tag r.image %></p>



      <%= link_to "Delete", r, method: :delete, data: { confirm: 'Are you sure?'} %>

      <%= link_to 'Edit', edit_restaurant_path(r) %>


      <%= link_to 'See menu', restaurant_menu_items_path(r) %>
      <br>
      <p class="btn_rest"><%= link_to 'See events', restaurant_events_path(r) %></p>


    </div>

  <% end %>

</body>
