<body class="restaurant">

<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>


<h2>Restaurants</h2>


  <% @restaurants.each do |r| %>

    <div class="eachRest">
      <p><img src="/dining_2.jpg" alt=""></p>
      <p><%= r.name %></p>
      <p><%= r.description %></p>
      <p><%= r.location %></p>

      <!-- <%= link_to 'see more', new_restaurant_path(r) %> -->

      <li><%= link_to "See menu", restaurant_menu_items_path(r)%></li>
    </div>

  <% end %>

</body>
