<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

<%= link_to 'All restaurants', restaurants_path %>
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.id %></p>
<p><%= @restaurant.location %></p>
<%= image_tag(@restaurant.image.url, alt: 'Image') if @restaurant.image? %>
<%= link_to(image_tag(@restaurant.image.thumb.url, alt: 'Image'), @restaurant.image.url, target: '_blank') if @restaurant.image? %>

<p><%= link_to 'Edit', edit_restaurant_path(@restaurant) %></p>
<p><%= link_to 'Back', restaurants_path %></p>
